{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
      {{ title }} - The Swedish Event Planner
    {% else %}
      Welcome to Eventy - The Swedish Event Planner
    {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Eventy</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if current_user.role == 'cso' or current_user.role == 'scso' %}
                  <li><a href="{{ url_for('new_request') }}">Create New Request</a></li>
                  {% if current_user.role == 'scso' %}
                    <li><a href="{{ url_for('pending_updates') }}">Event Requests</a></li>
                  {% endif %}
                {% elif current_user.is_anonymous %}
                  <!-- show nothing in nav -->
                {% elif current_user.role == 'fm' %}
                  <li><a href="{{ url_for('pending_updates') }}">Event Requests</a></li>
                  <li><a href="{{ url_for('all_budgets') }}">Review Budget Requests</a></li>
                {% elif current_user.role == 'am' or current_user.role == 'sm' or current_user.role == 'pm' or current_user.role == 'smpm' or current_user.role == 'pmtm' %}
                  <li><a href="{{ url_for('pending_updates') }}">Event Requests</a></li>
                  {% if current_user.role == 'pm' or current_user.role == 'sm' %}
                    <li><a href="{{ url_for('planning_dashboard') }}">Planning Dashboard</a></li>
                    <li><a href="{{ url_for('view_tasks') }}">Team Tasks</a></li>
                    <li><a href="{{ url_for('new_resource') }}">Resource Request</a></li>
                    <li><a href="{{ url_for('new_budget') }}">Budget Request</a></li>
                  {% endif %}
                  {% if current_user.role == 'pmtm' or current_user.role == 'smtm' %}
                    <li><a href="{{ url_for('view_tasks') }}">Team Tasks</a></li>
                  {% endif %}
                {% elif current_user.role == 'hr' %}
                  <li><a href="{{ url_for('pending_updates') }}">Event Requests</a></li>
                  <li><a href="{{ url_for('all_resources') }}">Review Resource Requests</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- The current_user.is_anonymous expression is going to be True only when the user is not logged in. -->
                {% if current_user.is_anonymous %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
      <h1>Eventy - The Swedish Event Planner</h1>
      <h4>Welcome, {{ current_user.name }} (Role Assigned: {{ current_user.role }})!</h4>
      <hr>
      {% block app_content %}{% endblock %}
  </div>
{% endblock %}