{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block app_content %}
    <h1>Login</h1>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br>
            <br>
            <br>
            <p>System Admin? <a href="{{ url_for('register') }}">Click here for System Management portal.</a></p>
        </div>
    </div>
{% endblock %}