{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.client_name.label }}<br>
                    {{ form.client_name(class_="form-control", size=32) }}
                    {% for error in form.client_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.event_type.label }}<br>
                    {{ form.event_type(class_="form-control", size=64) }}
                    {% for error in form.event_type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.event_details.label }}<br>
                    {{ form.event_details(class_="form-control", size=120) }}
                    {% for error in form.event_details.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.client_budget.label }}<br>
                    {{ form.client_budget(class_="form-control", size=64) }}
                    {% for error in form.client_budget.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.feedback.label }}<br>
                    {{ form.feedback(class_="form-control", size=120) }}
                    {% for error in form.feedback.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.status.label }}<br>
                    {{ form.status(class_="form-control", size=64, disabled=True) }}
                    {% for error in form.status.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {% if req.status != 'Rejected' %}
                        {% if req.ready_for_planning and current_user.role == 'scso' %}
                            {{ form.servicessubmit(class="btn col-md-4", class_="form-control") }}
                            {{ form.productionsubmit(class="btn col-md-4", class_="form-control") }}
                        {% else %}
                            {{ form.submit(class="btn col-md-4", class_="form-control") }}
                        {% endif %}
                        {% if current_user.role == 'am' or current_user.role == 'scso' %}
                            {% if req != '' %}
                                {{ form.closesubmit(class="btn col-md-4", class_="form-control") }}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{ form.submit(value="Mark as Open", class="btn col-md-4", class_="form-control") }}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

